<!DOCTYPE html>
<html>
  <head>
    <title>ValsBagels</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/css/uikit.min.css" />
  </head>

  <body>
    <header>
      <h1>Val's Bagels</h1>
    </header>
    <main>
      <div class="wrapper">
      <h1>HAHAHA</h1>
        <%= yield %>
      <h1>fhdsfklhdsafkdsaj</h1>
      </div>
    </main>
  </body>
</html>
